# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

# Output folders
/bin/
/build/
/dist/

# Dependency directories
/vendor/

# IDE/editor files
.vscode/
.idea/
*.swp
*.swo
*.bak
*.tmp
.DS_Store
Thumbs.db

# OS files
*.log

# Env files
.env
.env.*

# Migration artifacts
migrations/*.tmp

# Go modules cache
/go.sum

# Others
coverage.out
